* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.main-container {
}
.main-header {
}
.header-logo-container {
}
.header-logo {
}
.header-logo-text {
}
.header-nav-container {
}
.nav-menu {
}
.nav-menu-link {
}
