* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.main-container {
  max-width: 1440px;
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px 165px 32px 165px;
}

.header-logo-container {
  display: flex;
  align-items: center;
  gap: 13px;
}

.header-logo {
  width: 36px;
  height: 36px;
  border-radius: 18px;
  background-color: #094b72;
  font-family: "Poppins";
  font-weight: 700;
  font-size: 20px;
  line-height: 12px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-logo-text {
  font-family: "Poppins";
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 1.5px;
  color: #2d2f30;
}

.header-nav-container {
  display: flex;
  gap: 122px;
}

.nav-menu {
  display: flex;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 12px;
  line-height: 23px;
  letter-spacing: 1.5px;
  color: #2d2f30;
  gap: 56px;
  text-transform: uppercase;
  list-style: none;
}
.nav-menu-link {
  text-decoration: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 23px;
  letter-spacing: 1.5px;
  color: #2d2f30;
}

.header-nav-container > img {
  cursor: pointer;
}

.hero-container {
  padding-left: 155px;
  position: relative;
}

.news-container {
  display: flex;
  align-items: center;
  gap: 9px;
  max-width: 434px;
  background-color: #e7f6ff;
  border-radius: 26.5px;
  margin-top: 94px;
}

.news-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 86px;
  height: 28px;
  background: #094b72;
  border-radius: 26.5px;
  font-weight: 400;
  font-size: 14px;
  color: #ffffff;
  font-family: "Plus Jakarta Sans";
  margin-left: 6px;
}

.news-text {
  font-family: "Plus Jakarta Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 36px;
  color: #193e6c;
}

.hero-heading {
  font-family: "Playfair Display";
  font-weight: 700;
  font-size: 90px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #094b72;
  max-width: 791px;
  margin-top: 16px;
}
.hero-text {
  font-family: "Plus Jakarta Sans";
  font-weight: 500;
  font-size: 24px;
  line-height: 158%;
  letter-spacing: 0.5px;
  color: #4f4f4f;
  max-width: 590px;
  margin-top: 46px;
  margin-left: 7px;
}
.hero-button {
  width: 190px;
  height: 80px;
  margin-top: 42px;
  background-color: #094b72;
  border-radius: 8px;
  font-family: "Plus Jakarta Sans";
  font-weight: 700;
  font-size: 16px;
  line-height: 140.5%;
  letter-spacing: 0.08em;
  color: #f9f8f9;
  text-transform: uppercase;
}
.client-text {
  font-family: "Plus Jakarta Sans";
  font-weight: 400;
  font-size: 22px;
  line-height: 140.5%;
  letter-spacing: 0.04em;
  color: #8b8c8c;
  margin-top: 115px;
}
.client-container {
  margin-top: 34px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 33px;
  justify-content: space-between;
  max-width: 236px;
  margin-bottom: 46px;
}

.item-2,
.item-4 {
  justify-self: end;
}

.hero-img {
  position: absolute;
  top: -150px;
  right: 10px;
  z-index: -1;
}

.name-container {
  width: 382px;
  height: 114px;
  background-color: #ffffff;
  border-radius: 10px;
  position: absolute;
  right: 210px;
  bottom: -70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(0px 39px 100px rgba(25, 62, 108, 0.12));
}

.name {
  font-family: "Plus Jakarta Sans";
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: #33475b;
}

.profession {
  font-family: "Plus Jakarta Sans";
  font-weight: 500;
  font-size: 16px;
  line-height: 36px;
  color: #87898c;
}

.about-container {
  background-color: #f2f7ff;
  padding-left: 166px;
  padding-top: 126px;
  display: flex;
}

.about-text-container {
  max-width: 420px;
  margin-top: 48px;
  margin-right: 53px;
}

.about-heading {
  font-family: "Playfair Display";
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  letter-spacing: 0.323077px;
  color: #2d2f30;
  margin-bottom: 30px;
}

.about-text {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 20px;
  line-height: 36px;
  letter-spacing: 0.5px;
  color: #8b8c8c;
}

.services-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 30px;
  margin-bottom: 126px;
}

.services-card {
  width: 256px;
  height: 253px;
  background-color: #fcfcfc;
  box-shadow: 0px 18px 58px 16px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  padding: 24px;
}

.services-card > img {
  margin-bottom: 18px;
}

.services-card-heading {
  font-family: "Playfair Display";
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 0.5px;
  color: #363940;
  margin-bottom: 10px;
}
.services-card-text {
  font-family: "Plus Jakarta Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.3px;
  color: #8b8c8c;
}

.count-container {
}
.count-heading-container {
}
.count-heading {
}
.count-title {
}
.count-left {
}
.count-digit {
}
.count-text {
}
.count-center {
}
.count-right {
}
